:root {
  // PRIMARY COLORS
  --primary-color-blue-120: #1f3663;
  --primary-color-blue-100: #27447c;
  --primary-color-blue-70: #687ca3;
  --primary-color-blue-30: #bec7d8;
  // ACCENT COLORS
  --accent-color-light-blue-120: #1e7ba1;
  --accent-color-light-blue-100: #259ac9;
  --accent-color-light-blue-70: #66b8d9;
  --accent-color-light-blue-30: #bee1ef;
  // SEMANTIC COLORS
  --semantic-color-yellow-100: #ffcf5c;
  --semantic-color-yellow-70: #ffe29d;
  --semantic-color-yellow-30: #fff8e7;
  --semantic-color-blue-100: #0084f4;
  --semantic-color-blue-70: #66b5f8;
  --semantic-color-blue-30: #d5e9fa;
  --semantic-color-orange-100: #ffa26b;
  --semantic-color-orange-70: #ffc7a6;
  --semantic-color-orange-30: #ffe8da;
  --semantic-color-green-100: #00c48c;
  --semantic-color-green-70: #7ddfc3;
  --semantic-color-green-30: #d5f2ea;
  --semantic-color-red-100: #ce1414;
  --semantic-color-red-70: #dd5b5b;
  --semantic-color-red-30: #f0b9b9;
  // NEUTRAL COLORS
  --neutral-color-plumb-100: #7c8ba1;
  --neutral-color-lead-120: #9d9d9d;
  --neutral-color-lead-100: #c4c4c4;
  --neutral-color-lead-70: #d6d6d6;
  --neutral-color-lead-50: #e2e2e2;
  --neutral-color-lead-30: #f3f3f3;
  --neutral-color-white-100: #f8f8fb;
  --neutral-color-white-100-opacity-40: hsla(240, 27%, 98%, 0.4);
  --neutral-color-black-100: #323c47;
  --neutral-color-gray-100: #495057;
}

$sassColors: (
  // PRIMARY COLORS
  'primary-blue-120': var(--primary-color-blue-120),
  'primary-blue-100': var(--primary-color-blue-100),
  'primary-blue-70': var(--primary-color-blue-70),
  'primary-blue-30': var(--primary-color-blue-30),
  // ACCENT COLORS
  'accent-light-blue-120': var(--accent-color-light-blue-120),
  'accent-light-blue-100': var(--accent-color-light-blue-100),
  'accent-light-blue-70': var(--accent-color-light-blue-70),
  'accent-light-blue-30': var(--accent-color-light-blue-30),
  // SEMANTIC COLORS
  'semantic-yellow-100': var(--semantic-color-yellow-100),
  'semantic-yellow-70': var(--semantic-color-yellow-70),
  'semantic-yellow-30': var(--semantic-color-yellow-30),
  'semantic-blue-100': var(--semantic-color-blue-100),
  'semantic-blue-70': var(--semantic-color-blue-70),
  'semantic-blue-30': var(--semantic-color-blue-30),
  'semantic-orange-100': var(--semantic-color-orange-100),
  'semantic-orange-70': var(--semantic-color-orange-70),
  'semantic-orange-30': var(--semantic-color-orange-30),
  'semantic-green-100': var(--semantic-color-green-100),
  'semantic-green-70': var(--semantic-color-green-70),
  'semantic-green-30': var(--semantic-color-green-30),
  'semantic-red-100': var(--semantic-color-red-100),
  'semantic-red-70': var(--semantic-color-red-70),
  'semantic-red-30': var(--semantic-color-red-30),
  // NEUTRAL COLORS
  'neutral-plumb-100': var(--neutral-color-plumb-100),
  'neutral-lead-120': var(--neutral-color-lead-120),
  'neutral-lead-100': var(--neutral-color-lead-100),
  'neutral-lead-70': var(--neutral-color-lead-70),
  'neutral-lead-50': var(--neutral-color-lead-50),
  'neutral-lead-30': var(--neutral-color-lead-30),
  'neutral-white-100': var(--neutral-color-white-100),
  'neutral-white-100-opacity-40': var(--neutral-color-white-100-opacity-40),
  'neutral-black-100': var(--neutral-color-black-100),
  'neutral-gray-100': var(--neutral-color-gray-100)
);
