@use './../../tools/tools.mixins' as mixinsModule;

.c-about {
  &__image {
    max-width: 100%;
    height: auto;
    @include mixinsModule.mediaQueryFrom('sm') {
      max-width: 25rem;
    }
  }
  &__title {
    @include mixinsModule.getFontStyles('h1');
  }
  &__text {
    font-size: 1.125rem;
  }
}
