.c-ubication {
  position: relative;
  overflow: hidden;
  &__map {
    width: 100%;
    border: 0;
  }
  &__decoration {
    position: absolute;
    top: 0;
    right: 0;
    width: 12rem;
    height: 12rem;
    transform: translate(7rem, 2rem);
    opacity: 0.25;
    pointer-events: none;
  }
}
