@use './../../tools/tools.mixins' as mixinsModule;

.c-services {
  position: relative;
  overflow: hidden;
  &__title {
    @include mixinsModule.getFontStyles('h1');
  }
  &__text {
    font-size: 1.125rem;
  }
  &__subtitle {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
  }
  &__grid {
    @include mixinsModule.mediaQueryFrom('xl') {
      padding: 0 6rem;
    }
  }
  &__miniature {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    border: 1px solid var(--neutral-color-lead-100);
    border-radius: 50%;
    color: var(--primary-color-blue-100);
  }
  &__decoration {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 16rem;
    transform: translate(8rem, 12rem);
    opacity: 0.25;
    pointer-events: none;
  }
}
