@use './../../tools/tools.mixins' as mixinsModule;

%backdrop-position-template {
  z-index: var(--z-back);
  position: absolute;
  width: 100%;
  height: 100%;
}

.c-hero-banner {
  position: relative;
  &__image {
    object-fit: cover;
    @extend %backdrop-position-template;
  }
  &__backdrop {
    background-color: var(--primary-color-blue-120);
    opacity: 0.5;
    @extend %backdrop-position-template;
  }
  &__content {
    max-width: 1280px;
    margin: auto;
    @include mixinsModule.mediaQueryFrom('sm') {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
  &__wrapper {
    padding: 6rem 1rem 8rem;
  }
  &__quote {
    display: block;
    padding: 0.25em 0.75rem;
    border-left: 4px solid var(--accent-color-light-blue-100);
    color: #fff;
    text-align: center;
  }
  &__title {
    @include mixinsModule.getFontStyles('h1');
    @include mixinsModule.mediaQueryFrom('sm') {
      font-size: 2.8rem;
    }
  }
  &__skew {
    display: block;
    position: relative;
    margin-top: 0.5rem;
    padding: 0 0.75rem;
    color: var(--primary-color-blue-100);
    @include mixinsModule.mediaQueryFrom('sm') {
      margin-top: 0.8rem;
      padding: 0.3em 0.75rem;
    }
    &::before {
      z-index: var(--z-back);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: skewX(-12deg);
      background-color: var(--neutral-color-white-100);
      content: '';
    }
  }
  &__video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    background-color: transparent;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0.25rem;
    }
  }
}
