@use './../../tools/tools.mixins' as mixinsModule;

.c-gallery {
  overflow: hidden;
  &__title {
    @include mixinsModule.getFontStyles('h1');
  }
  &__text {
    font-size: 1.125rem;
  }
  &__subtitle {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
  &__card {
    overflow: hidden;
    border-radius: 0.25rem;
    background: hsl(210deg, 38%, 94%);
    cursor: pointer;
    &-img {
      height: 16rem;
      border-top-right-radius: 0.25rem;
      border-top-left-radius: 0.25rem;
      transition: transform 0.3s;
      @include mixinsModule.mediaQueryFrom('sm') {
        height: 20rem;
      }
    }
    &:hover &-img {
      transform: scale(1.1);
    }
  }
  &__container {
    position: relative;
  }
  &__decoration {
    z-index: var(--z-back);
    position: absolute;
    width: 8rem;
    height: 8rem;
    opacity: 0.5;
    pointer-events: none;
    fill: #a0aec0;
    &--top {
      top: 0;
      right: 0;
      transform: translate(30%, -30%);
    }
    &--bottom {
      bottom: 0;
      left: 0;
      transform: translate(-30%, 30%);
    }
  }
  &__modal {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    &.is-active {
      opacity: 1;
      pointer-events: initial;
    }
  }
  &__detail {
    display: flex;
    z-index: var(--z-modal);
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 1em 1rem;
    background: #000000a8;
  }
  &__close {
    z-index: var(--z-modal);
    position: fixed;
    top: 1rem;
    right: 1rem;
    color: var(--neutral-color-white-100);
    font-size: 1.5rem;
    cursor: pointer;
  }
  &__full-img {
    max-width: 100%;
    height: auto;
    border-radius: 0.25rem;
  }
}
