.c-loader {
  display: flex;
  z-index: var(--z-fixed);
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: var(--neutral-color-white-100);
  transition: opacity 0.6s;
  &__svg {
    width: 140px;
    height: 140px;
    animation: rotate-svg linear infinite 2s;
    @keyframes rotate-svg {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  &-content {
    transition: opacity 0.6s;
  }
}

.c-loader.is-loaded,
.c-loader-content.is-loading {
  opacity: 0;
  pointer-events: none;
}
