@use './../../tools/tools.mixins' as mixinsModule;

.c-button {
  padding: 0.75em 2rem;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  @include mixinsModule.mediaQueryFrom('sm') {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  &--primary {
    background-color: var(--primary-color-blue-100);
    color: var(--neutral-color-white-100);
    &:hover,
    &:focus {
      background-color: var(--primary-color-blue-120);
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5);
    }
  }
  &--secondary {
    background-color: var(--neutral-color-white-100);
    color: var(--primary-color-blue-100);
    &:hover,
    &:focus {
      background-color: var(--primary-color-blue-100);
      color: var(--neutral-color-white-100);
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5);
    }
  }
  &--whatsapp {
    display: flex;
    z-index: var(--z-tooltip);
    position: fixed;
    right: 16px;
    bottom: 16px;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0.5rem;
    border-radius: 50%;
    background: #43c554;
    color: #fff;
    font-size: 1.7rem;
    @include mixinsModule.mediaQueryFrom('md') {
      right: 24px;
      bottom: 24px;
      width: 60px;
      height: 60px;
      padding: 1rem;
      font-size: 1.9rem;
    }
  }
}
