.o-text {
  &-lighter {
    font-weight: 100;
  }
  &-bold {
    font-weight: 700;
  }
  &-normal {
    font-weight: 400;
  }
  &-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-clamp {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
