@use '../../tools/tools.mixins' as mixinsModule;

.o-text-align {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
  &-justify {
    text-align: justify;
  }

  @include mixinsModule.mediaQueryFrom('sm') {
    &-sm-center {
      text-align: center;
    }
    &-sm-right {
      text-align: right;
    }
    &-sm-left {
      text-align: left;
    }
    &-sm-justify {
      text-align: justify;
    }
  }

  @include mixinsModule.mediaQueryFrom('md') {
    &-md-center {
      text-align: center;
    }
    &-md-right {
      text-align: right;
    }
    &-md-left {
      text-align: left;
    }
    &-md-justify {
      text-align: justify;
    }
  }

  @include mixinsModule.mediaQueryFrom('lg') {
    &-lg-center {
      text-align: center;
    }
    &-lg-right {
      text-align: right;
    }
    &-lg-left {
      text-align: left;
    }
    &-lg-justify {
      text-align: justify;
    }
  }

  @include mixinsModule.mediaQueryFrom('xl') {
    &-xl-center {
      text-align: center;
    }
    &-xl-right {
      text-align: right;
    }
    &-xl-left {
      text-align: left;
    }
    &-xl-justify {
      text-align: justify;
    }
  }
}
