@use '../../tools/tools.mixins' as mixinsModule;

.o-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  @for $count from 0 through 16 {
    &--gap-#{$count * .25 * 16} {
      grid-gap: $count * .25rem;
    }
  }

  @include mixinsModule.mediaQueryFrom('sm') {
    @for $count from 1 through 12 {
      &--gap-sm-#{$count * .25 * 16} {
        grid-gap: $count * .25rem;
      }
    }
  }
  
  @include mixinsModule.mediaQueryFrom('md') {
    @for $count from 1 through 12 {
      &--gap-md-#{$count * .25 * 16} {
        grid-gap: $count * .25rem;
      }
    }
  }
  
  @include mixinsModule.mediaQueryFrom('lg') {
    @for $count from 1 through 12 {
      &--gap-lg-#{$count * .25 * 16} {
        grid-gap: $count * .25rem;
      }
    }
  }
  
  @include mixinsModule.mediaQueryFrom('xl') {
    @for $count from 1 through 12 {
      &--gap-xl-#{$count * .25 * 16} {
        grid-gap: $count * .25rem;
      }
    }
  }
}

@for $count from 1 through 12 {
  .o-grid-column-#{$count} {
    grid-column: span $count;
  }
}

@include mixinsModule.mediaQueryFrom('sm') {
  @for $count from 1 through 12 {
    .o-grid-column-sm-#{$count} {
      grid-column: span $count;
    }
  }
}

@include mixinsModule.mediaQueryFrom('md') {
  @for $count from 1 through 12 {
    .o-grid-column-md-#{$count} {
      grid-column: span $count;
    }
  }
}

@include mixinsModule.mediaQueryFrom('lg') {
  @for $count from 1 through 12 {
    .o-grid-column-lg-#{$count} {
      grid-column: span $count;
    }
  }
}

@include mixinsModule.mediaQueryFrom('xl') {
  @for $count from 1 through 12 {
    .o-grid-column-xl-#{$count} {
      grid-column: span $count;
    }
  }
}
