@use '../../tools/tools.mixins' as mixinsModule;

.o-display {
  &-none {
    display: none;
  }
  &-block {
    display: block;
  }
  &-table {
    display: table;
  }
  &-flex {
    display: flex;
  }
  @include mixinsModule.mediaQueryFrom('sm') {
    &-sm-none {
      display: none;
    }
    &-sm-block {
      display: block;
    }
    &-sm-table {
      display: table;
    }
    &-sm-flex {
      display: flex;
    }
  }
  @include mixinsModule.mediaQueryFrom('md') {
    &-md-none {
      display: none;
    }
    &-md-block {
      display: block;
    }
    &-md-table {
      display: table;
    }
    &-md-flex {
      display: flex;
    }
  }
  @include mixinsModule.mediaQueryFrom('lg') {
    &-lg-none {
      display: none;
    }
    &-lg-block {
      display: block;
    }
    &-lg-table {
      display: table;
    }
    &-lg-flex {
      display: flex;
    }
  }
  @include mixinsModule.mediaQueryFrom('xl') {
    &-xl-none {
      display: none;
    }
    &-xl-block {
      display: block;
    }
    &-xl-table {
      display: table;
    }
    &-xl-lex {
      display: flex;
    }
  }
}
