@use '../../tools/tools.mixins' as mixinsModule;

@for $count from 0 through 16 {
  .o-m-#{$count * .25 * 16} {
    margin: $count * .25rem;
  }
}

@for $count from 0 through 16 {
  .o-mt-#{$count * .25 * 16} {
    margin-top: $count * .25rem;
  }
}

@for $count from 0 through 16 {
  .o-mr-#{$count * .25 * 16} {
    margin-right: $count * .25rem;
  }
}

@for $count from 0 through 16 {
  .o-mb-#{$count * .25 * 16} {
    margin-bottom: $count * .25rem;
  }
}

@for $count from 0 through 16 {
  .o-ml-#{$count * .25 * 16} {
    margin-left: $count * .25rem;
  }
}

@for $count from 0 through 16 {
  .o-my-#{$count * .25 * 16} {
    margin-top: $count * .25rem;
    margin-bottom: $count * .25rem;
  }
}

@for $count from 0 through 16 {
  .o-mx-#{$count * .25 * 16} {
    margin-right: $count * .25rem;
    margin-left: $count * .25rem;
  }
}

@include mixinsModule.mediaQueryFrom('sm') {
  @for $count from 0 through 16 {
    .o-m-sm-#{$count * .25 * 16} {
      margin: $count * .25rem;
    }
    .o-mt-sm-#{$count * .25 * 16} {
      margin-top: $count * .25rem;
    }
    .o-mr-sm-#{$count * .25 * 16} {
      margin-right: $count * .25rem;
    }
    .o-mb-sm-#{$count * .25 * 16} {
      margin-bottom: $count * .25rem;
    }
    .o-ml-sm-#{$count * .25 * 16} {
      margin-left: $count * .25rem;
    }
    .o-my-sm-#{$count * .25 * 16} {
      margin-top: $count * .25rem;
      margin-bottom: $count * .25rem;
    }
    .o-mx-sm-#{$count * .25 * 16} {
      margin-right: $count * .25rem;
      margin-left: $count * .25rem;
    }
  }
}

@include mixinsModule.mediaQueryFrom('md') {
  @for $count from 0 through 16 {
    .o-m-md-#{$count * .25 * 16} {
      margin: $count * .25rem;
    }
    .o-mt-md-#{$count * .25 * 16} {
      margin-top: $count * .25rem;
    }
    .o-mr-md-#{$count * .25 * 16} {
      margin-right: $count * .25rem;
    }
    .o-mb-md-#{$count * .25 * 16} {
      margin-bottom: $count * .25rem;
    }
    .o-ml-md-#{$count * .25 * 16} {
      margin-left: $count * .25rem;
    }
    .o-my-md-#{$count * .25 * 16} {
      margin-top: $count * .25rem;
      margin-bottom: $count * .25rem;
    }
    .o-mx-md-#{$count * .25 * 16} {
      margin-right: $count * .25rem;
      margin-left: $count * .25rem;
    }
  }
}

@include mixinsModule.mediaQueryFrom('lg') {
  @for $count from 0 through 16 {
    .o-m-lg-#{$count * .25 * 16} {
      margin: $count * .25rem;
    }
    .o-mt-lg-#{$count * .25 * 16} {
      margin-top: $count * .25rem;
    }
    .o-mr-lg-#{$count * .25 * 16} {
      margin-right: $count * .25rem;
    }
    .o-mb-lg-#{$count * .25 * 16} {
      margin-bottom: $count * .25rem;
    }
    .o-ml-lg-#{$count * .25 * 16} {
      margin-left: $count * .25rem;
    }
    .o-my-lg-#{$count * .25 * 16} {
      margin-top: $count * .25rem;
      margin-bottom: $count * .25rem;
    }
    .o-mx-lg-#{$count * .25 * 16} {
      margin-right: $count * .25rem;
      margin-left: $count * .25rem;
    }
  }
}

@include mixinsModule.mediaQueryFrom('xl') {
  @for $count from 0 through 16 {
    .o-m-xl-#{$count * .25 * 16} {
      margin: $count * .25rem;
    }
    .o-mt-xl-#{$count * .25 * 16} {
      margin-top: $count * .25rem;
    }
    .o-mr-xl-#{$count * .25 * 16} {
      margin-right: $count * .25rem;
    }
    .o-mb-xl-#{$count * .25 * 16} {
      margin-bottom: $count * .25rem;
    }
    .o-ml-xl-#{$count * .25 * 16} {
      margin-left: $count * .25rem;
    }
    .o-my-xl-#{$count * .25 * 16} {
      margin-top: $count * .25rem;
      margin-bottom: $count * .25rem;
    }
    .o-mx-xl-#{$count * .25 * 16} {
      margin-right: $count * .25rem;
      margin-left: $count * .25rem;
    }
  }
}
