@use '../tools/tools.mixins' as mixinsModule;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--neutral-color-white-100);
  color: var(--neutral-color-gray-100);
  font-family: var(--font-name);
  font-size: var(--body-font-size);
}

main {
  overflow: initial;
}

@for $idx from 1 through 6 {
  h#{$idx} {
    margin-top: 0;
    margin-bottom: 0;
    @if ($idx == 6) {
      color: var(--neutral-color-black-100);
    } @else {
      color: var(--neutral-color-gray-100);
    }
    @include mixinsModule.getFontStyles('h#{$idx}');
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

p {
  margin: 0;
  margin-bottom: 1rem;
  color: var(--neutral-color-gray-100);
  @include mixinsModule.getFontStyles('body');
}

small {
  margin-bottom: 0.5rem;
  color: var(--neutral-color-lead-120);
  @include mixinsModule.getFontStyles('small');
}

select {
  cursor: pointer;
}

img {
  pointer-events: none;
  user-select: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding-left: 1rem;
    text-indent: -1rem;
  }
}

[contentEditable='true'] {
  padding-top: 0.3rem;
  padding-left: 0.3rem;
  border: 1px solid var(--neutral-color-white-100);
  border-radius: 0.25rem;
  transition: background 0.3s;
}

[contentEditable='true']:focus {
  outline: none;
  background: var(--neutral-color-lead-30);
}
